Integromat - Schedule for tomorrow to Telegram.json
{
    "name": "Schedule for tomorrow to Telegram (template)",
    "flow": [
        {
            "id": 4,
            "module": "telegram:SendReplyMessage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1798216
            },
            "mapper": {
                "chatId": "",
                "text": "Tomorrow's schedule: ",
                "parseMode": "",
                "replyToMessageId": "",
                "replyMarkupAssembleType": "reply_markup_enter",
                "replyMarkup": ""
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "__IMTCONN__": {
                        "label": "My Telegram Bot"
                    },
                    "parseMode": {
                        "label": ""
                    },
                    "disableNotification": {
                        "mode": "chose"
                    },
                    "replyMarkupAssembleType": {
                        "label": "Enter the Reply Markup"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "chatId",
                        "type": "text",
                        "label": "Chat ID",
                        "required": true
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text",
                        "required": true
                    },
                    {
                        "name": "parseMode",
                        "type": "select",
                        "label": "Parse Mode",
                        "validate": {
                            "enum": [
                                "Markdown",
                                "HTML"
                            ]
                        }
                    },
                    {
                        "name": "disableNotification",
                        "type": "boolean",
                        "label": "Disable Notifications"
                    },
                    {
                        "name": "disableWebPagePreview",
                        "type": "boolean",
                        "label": "Disable Link Previews"
                    },
                    {
                        "name": "replyToMessageId",
                        "type": "number",
                        "label": "Original Message ID"
                    },
                    {
                        "name": "replyMarkupAssembleType",
                        "type": "select",
                        "label": "Enter/Assemble the Reply Markup Field",
                        "validate": {
                            "enum": [
                                "reply_markup_enter",
                                "reply_markup_assemble"
                            ]
                        }
                    },
                    {
                        "name": "replyMarkup",
                        "type": "text",
                        "label": "Reply Markup"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "google-calendar:listCalendars",
            "version": 5,
            "parameters": {
                "__IMTCONN__": 1798211
            },
            "mapper": {
                "limit": "100",
                "showHidden": false,
                "minAccessRole": "freeBusyReader"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "__IMTCONN__": {
                        "label": "amerckado@gmail.com (amerckado@gmail.com)"
                    },
                    "minAccessRole": {
                        "mode": "chose",
                        "label": "Free Busy Reader"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "minAccessRole",
                        "type": "select",
                        "label": "Minimum Access Role",
                        "validate": {
                            "enum": [
                                "freeBusyReader",
                                "owner",
                                "reader",
                                "writer"
                            ]
                        }
                    },
                    {
                        "name": "showHidden",
                        "type": "boolean",
                        "label": "Show Hidden Calendars",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    }
                ]
            }
        },
        {
            "id": 1,
            "module": "google-calendar:searchEvents",
            "version": 5,
            "parameters": {
                "__IMTCONN__": 1798211
            },
            "mapper": {
                "limit": "100",
                "orderBy": "startTime",
                "timeMax": "{{formatDate(addDays(now; 2); \"YYYY-MM-DD\")}}",
                "timeMin": "{{formatDate(addDays(now; 1); \"YYYY-MM-DD\")}}",
                "calendar": "{{11.id}}",
                "singleEvents": true
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "orderBy": {
                        "mode": "chose",
                        "label": "Start Time (ascending)"
                    },
                    "calendar": {
                        "mode": "edit"
                    },
                    "__IMTCONN__": {
                        "label": "amerckado@gmail.com (amerckado@gmail.com)"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "calendar",
                        "type": "select",
                        "label": "Calendar ID",
                        "required": true
                    },
                    {
                        "name": "timeMin",
                        "time": true,
                        "type": "date",
                        "label": "Start Date"
                    },
                    {
                        "name": "timeMax",
                        "time": true,
                        "type": "date",
                        "label": "End Date"
                    },
                    {
                        "name": "singleEvents",
                        "type": "boolean",
                        "label": "Single Events",
                        "required": true
                    },
                    {
                        "name": "q",
                        "type": "text",
                        "label": "Query"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order By",
                        "validate": {
                            "enum": [
                                "startTime",
                                "updated"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "telegram:SendReplyMessage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1798216
            },
            "filter": {
                "name": "Calendars with events",
                "conditions": [
                    [
                        {
                            "a": "{{1.`__IMTLENGTH__`}}",
                            "o": "number:greater",
                            "b": "0"
                        }
                    ]
                ]
            },
            "mapper": {
                "text": "{{1.summary}} {{formatDate(1.start; \"HH:mm\")}}-{{formatDate(1.end; \"HH:mm\")}}\n{{1.description}}\n{{1.location}}",
                "chatId": "@amerckado_updates",
                "parseMode": "",
                "replyMarkup": "",
                "replyToMessageId": "",
                "replyMarkupAssembleType": "reply_markup_enter"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "name": "Post schedule to Telegram"
                },
                "restore": {
                    "parseMode": {
                        "label": ""
                    },
                    "__IMTCONN__": {
                        "label": "My Telegram Bot"
                    },
                    "replyMarkupAssembleType": {
                        "label": "Enter the Reply Markup"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "chatId",
                        "type": "text",
                        "label": "Chat ID",
                        "required": true
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text",
                        "required": true
                    },
                    {
                        "name": "parseMode",
                        "type": "select",
                        "label": "Parse Mode",
                        "validate": {
                            "enum": [
                                "Markdown",
                                "HTML"
                            ]
                        }
                    },
                    {
                        "name": "disableNotification",
                        "type": "boolean",
                        "label": "Disable Notifications"
                    },
                    {
                        "name": "disableWebPagePreview",
                        "type": "boolean",
                        "label": "Disable Link Previews"
                    },
                    {
                        "name": "replyToMessageId",
                        "type": "number",
                        "label": "Original Message ID"
                    },
                    {
                        "name": "replyMarkupAssembleType",
                        "type": "select",
                        "label": "Enter/Assemble the Reply Markup Field",
                        "validate": {
                            "enum": [
                                "reply_markup_enter",
                                "reply_markup_assemble"
                            ]
                        }
                    },
                    {
                        "name": "replyMarkup",
                        "type": "text",
                        "label": "Reply Markup"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "shatter": false,
            "maxErrors": 3,
            "autoCommit": false,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.integromat.com"
    }
}
